<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sutro Stage</key>
	<dict/>
	<key>Land End Stage</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>Time</key>
				<date>2015-08-07T17:00:00Z</date>
				<key>Artist</key>
				<string>THE BLACK KEYS</string>
			</dict>
			<dict>
				<key>Time</key>
				<date>2015-08-07T19:00:00Z</date>
				<key>Artist</key>
				<string>KENDRICK LAMAR</string>
			</dict>
			<dict>
				<key>Time</key>
				<date>2015-08-07T21:00:00Z</date>
				<key>Artist</key>
				<string>ELTON JOHN</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
